.table {
    width: 80%;
    margin: 1.25rem auto;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
}

th {
    background-color: var(--red-500);
    color: white;
    padding: 0.75rem;
    text-transform: uppercase;
}

td {
    padding: 0.625rem;
    border-bottom: 0.0625rem solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 48rem) {
    table {
        width: 100%;
    }
    th, td {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 100%;
}

.headerTitle {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.filterLabel {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
}

.filterSelect {
    padding: 0.75rem;
    font-size: 1rem;
    border: 0.125rem solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s;
}

.filterSelect:hover,
.filterSelect:focus {
    border-color: var(--red-500);
    box-shadow: none;
    outline: none;
}

@media (min-width: 48rem) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .filterContainer {
        flex-direction: row;
        gap: 1rem;
    }
}


.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btnPrimary {
    background-color: var(--red-500);
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.btnPrimary:hover {
    background-color: #e14d5b;
}

.btnPrimary:active {
    background-color: #c6404f;
    transform: scale(0.98);
}

@media (max-width: 48rem) {
    .btnPrimary {
        width: 100%;
        padding: 1rem;
    }
}
